# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
pyvenv.cfg

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Home Assistant config (development)
config/

# IDE
.idea/
.vscode/

# OS
.DS_Store
*~

# Misc
.env.local
.tox
